<p style="color: green"><%= notice %></p>

<%= render @post %>


<div class="mt-2">
  <%= link_to "Volver a las Noticias", posts_path, class:"link-success" %> |
    <% if user_signed_in? %>
    <%= link_to "Comentar Noticia", new_comment_path(@comment) %> |
      <% if current_user.id == @post.user_id %>
        <%= link_to "Editar Noticia", edit_post_path(@post),class:"link-warning" %> |
        <%= button_to "Borrar Noticia", @post, method: :delete, class:"btn btn-danger" %>
    <% end %>
  <% end %>
</div>

